---
const contactItems = [
  {
    icon: '/icon-location.svg',
    alt: 'Icon Location',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
  },
  {
    icon: '/icon-phone.svg',
    alt: 'Icon Phone',
    description: '+1-543-123-4567'
  },
  {
    icon: '/icon-email.svg',
    alt: 'Icon Email',
    description: 'example@fylo.com'
  }
];

const links = [
  ['About Us', 'Jobs', 'Press', 'Blog'],
  ['Contact Us', 'Terms', 'Privacy']
];

const socials = [
  {
    icon: '/facebook.svg',
    alt: 'Icon Facebook'
  },
  {
    icon: '/twitter.svg',
    alt: 'Icon Twitter'
  },
  {
    icon: '/instagram.svg',
    alt: 'Icon Instagram'
  }
];
---

<footer class='flex flex-col items-start gap-7 px-7 py-4'>
  <img src='/logo.svg' alt='Logo footer' loading='lazy' class='w-[108px]' />
  <div class='grid grid-cols-[max-content_1fr] items-start gap-4 self-stretch py-2'>
    {
      contactItems.map((item) => (
        <div class='contents'>
          <img src={item.icon} alt={`Icon ${item.alt}`} loading='lazy' />
          <div class='leading-normal'>{item.description}</div>
        </div>
      ))
    }
  </div>
  <div class='flex flex-col items-start gap-12 self-stretch py-6'>
    {
      links.map((linkGroup) => (
        <div class='flex flex-col items-start gap-4 self-stretch'>
          {linkGroup.map((link) => (
            <a href='#'>{link}</a>
          ))}
        </div>
      ))
    }
  </div>
  <div class='flex items-center justify-center gap-3 self-stretch py-1'>
    {
      socials.map((social) => (
        <div class='h-7 w-7 rounded-full border border-white p-1'>
          <img src={social.icon} alt={social.alt} loading='lazy' />
        </div>
      ))
    }
  </div>
</footer>
