---
const items = [
  {
    name: 'Satish Patel',
    quote:
      'Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.',
    title: 'Founder & CEO, Huddle',
    avatar: '/profile-1.jpg',
    alt: 'Avatar Satish Patel'
  },
  {
    name: 'Bruce McKenzie',
    quote:
      'Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.',
    title: 'Founder & CEO, Huddle',
    avatar: '/profile-2.jpg',
    alt: 'Avatar Bruce McKenzie'
  },
  {
    name: 'Iva Boyd',
    quote:
      'Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.',
    title: 'Founder & CEO, Huddle',
    avatar: '/profile-3.jpg',
    alt: 'Avatar Iva Boyd'
  }
];
---

<div
  id='team'
  class='flex flex-col items-start justify-center self-stretch px-12 py-[98px] 2xl:px-[60px] 2xl:py-[172px]'
>
  <img
    src='/bg-quotes.png'
    alt='Quotes'
    loading='lazy'
    class='ml-2 w-[22px] 2xl:-ml-2 2xl:w-[54px]'
  />
  <div class='flex flex-col items-start gap-6 self-stretch 2xl:-mt-2 2xl:flex-row 2xl:gap-10'>
    {
      items.map((item) => (
        <div class='flex flex-col items-start gap-4 self-stretch rounded-[4px] bg-mirage-700 px-5 pb-5 pt-6 2xl:px-[26px] 2xl:pb-[26px] 2xl:pt-10'>
          <p class='text-[10px] leading-[18px] 2xl:text-sm 2xl:leading-normal'>{item.quote}</p>
          <div class='flex items-start gap-2 self-stretch'>
            <img src={item.avatar} alt={item.alt} loading='lazy' class='w-6 rounded-full' />
            <div class='flex flex-1 flex-col items-start gap-1'>
              <h3>{item.name}</h3>
              <p class='text-[7px] leading-[10px] tracking-[0.5px] 2xl:text-[8px] 2xl:leading-tight'>
                {item.title}
              </p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
